
/*
Blog templates
*/

//Tiled template

body.blog-tiled {

	#content {
		padding-left: 200px;

		article.post-entry {
			position: relative;
			min-height: 150px;

			.post-entry-header {
				position: static;
			}

			h1.entry-title {
			}

			.entry-meta, .entry-meta-footer {
				width: 170px;
				height: 100%;
				position: absolute;
				top: 0;
				right: 100%;
				margin: 0 30px 0 0;
				text-align: left;

				.vline-wrapper {
					display: block;
					position: absolute;
					left: 10px;
					top: 0;
					height: 100%;
					padding-top: 70px;
					margin-top: 15px;

					.vline {
						height: 100%;
						width: 2px;
						background-color: $grey-border;
					}
				}

				.hline-wrapper {
					display: block;
					position: absolute;
					left: 0px;
					top: 25px;
					width: 100%;
					padding-left: 60px;
					margin-left: 15px;

					.hline {
						width: 100%;
						height: 2px;
						background-color: $grey-border;
					}
				}

				.meta-date {
					display: block;
					text-transform: uppercase;
					margin-bottom: 15px;

					.d {
						display: block;
						font-size: 50px;
						line-height: 50px;
						font-weight: 200;

					}

					.my {
						display: block;
						font-size: 16px;
						line-height: 20px;
						font-weight: 700;
						margin-bottom: 10px;
					}

					&:after {
						display: none;
					}
				}

				.meta-author {
					display: block;
					padding-left: 30px;

					i {
						display: inline-block;
						margin-right: 5px;
					}

					&:after {
						display: none;
					}
				}

				.meta-category {
					display: block;
					padding-left: 30px;

					i {
						display: inline-block;
						margin-right: 5px;
					}

					&:after {
						display: none;
					}
				}

				.meta-comments {
					display: block;
					padding-left: 30px;

					i {
						display: inline-block;
						margin-right: 5px;
					}
				}
			}
		}
	}
}


//Clear template

body.blog-clear {

	#content {

		article.post-entry {
			padding-left: 200px;
			position: relative;
			min-height: 280px;

			.post-entry-header {
				position: static;
			}


			.entry-meta, .entry-meta-footer {
				width: 170px;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				margin: 30px 30px 0 0;
				text-align: right;

				.meta-date {
					display: block;
					text-transform: uppercase;
					margin-bottom: 15px;
					font-family: Lato, Arial, sans-serif;
					border-bottom: 1px solid $grey-border;

					.d {
						display: block;
						font-size: 64px;
						line-height: 60px;
						font-weight: 100;

					}

					.my {
						display: block;
						font-size: 16px;
						line-height: 20px;
						font-weight: 600;
						margin-bottom: 15px;
					}

					&:after {
						display: none;
					}
				}

				.meta-author {
					display: block;
					padding-left: 30px;

					i {
						display: inline-block;
						margin-right: 5px;
					}

					&:after {
						display: none;
					}
				}

				.meta-category {
					display: block;
					padding-left: 30px;

					i {
						display: inline-block;
						margin-right: 5px;
					}

					&:after {
						display: none;
					}
				}

				.meta-comments {
					display: block;
					padding-left: 30px;

					i {
						display: inline-block;
						margin-right: 5px;
					}
				}

			}

		}
	}
}


//TiLT template

body.blog-tilt {

	#content {

		article.post-entry {
			padding: 110px 60px 30px 60px;
			min-height: 250px;

			.post-entry-header {
				position: static;
			}

			.entry-meta, .entry-meta-footer {
				position: absolute;
				top: 0px;
				right: 60px;
				margin: 0;
				text-align: right;
				padding-bottom: 5px;
				border-bottom: 1px solid $grey-border;

				.meta-date {
					display: block;
					text-transform: uppercase;
					font-family: Lato, Arial, sans-serif;

					.d {
						display: block;
						font-size: 28px;
						line-height: 30px;
						font-weight: 800;

					}

					.my {
						display: block;
						font-size: 16px;
						line-height: 20px;
						font-weight: 600;
						margin-bottom: 5px;
					}

					&:after {
						display: none;
					}
				}

				.meta-author {
					padding-left: 10px;

					i {
						display: inline-block;
						margin-right: 5px;
					}

					&:after {
						display: none;
					}
				}

				.meta-category {
					padding-left: 10px;

					i {
						display: inline-block;
						margin-right: 5px;
					}

					&:after {
						display: none;
					}
				}

				.meta-comments {
					padding-left: 10px;

					i {
						display: inline-block;
						margin-right: 5px;
					}
				}

			}

		}
	}
}

/* Comment list */
body.blog-tiled #comments {
	margin-left: -200px;

	.comment-body {
		padding-left: 0;
		padding-right: 0;
	}
}
