

/*---------------------------------------------------------------*/
/* 03.	BASIC STYLES
/*---------------------------------------------------------------*/

/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff;
	z-index:9999;
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%;
	top:50%;
	background-image:url(library/images/loader.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px;
}

body {
	font-family: Open Sans, Arial, sans-serif;
	font-weight: 400;
	font-size: 100%;
	line-height: 1.5;
	color: $text-light;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

ul {
	margin: 0;
}

textarea:focus, input:focus, a, select:focus {
	outline: none !important;
}

img {
	max-width: 100%;
}

thead {
	th {
		padding: 10px 15px;
		color: #fff;
	}
;
}

tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.05);
}

td {
	padding: 10px 15px;
}




/*********************
LINK STYLES
*********************/

a, a:visited {
	text-decoration: none;

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*---------------------------------------------------------------*/
/* 04. NONSEMANTIC BASE STYLES
/*---------------------------------------------------------------*/

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
/* Hide for both screenreaders and browsers */
.hidden { display: none; visibility: hidden; }
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden;	}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/*---------------------------------------------------------------*/
/* 05. STRUCTURE
/*---------------------------------------------------------------*/

#wrapper {
	display: block;
	margin: 0 auto;
	position: relative;
//	overflow-x: hidden;
}

#main {
	padding: 60px 0;
	min-height: 500px;
}

.single-portfolio #main {
	padding: 0;
}

#container {
	position: relative;
	margin: 0px auto;
}

body.blog, body.archive, body.single-post, body.search-results {
	#container {
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
}

#container.no-sidebar {
	width:100%;
	margin:0px auto;
}

#container:after {
	content: "\0020";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.row-inner {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

#content {
	width:100%;
}

#content.float-left, #content.float-right {
	width:75%;
}

#content.float-left {
	padding-right: 20px;
}

#content.float-right {
	padding-left: 20px;
}

#sidebar {
	padding-top: 30px;
	width: 25%;
	-webkit-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	.widget {
		overflow: hidden;
	}
}

.woocommerce #sidebar {
	padding-top: 0;
}

#sidebar.float-left {
	padding-right: 20px;
}

#sidebar.float-right {
	padding-left: 20px;
}

.pre-content {
	width:100%;
	position:relative;
	overflow:hidden;
	background-size: cover;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.float-left {
	float:left;
}

.float-right {
	float:right;
}

// Full width
.full-width #site-navigation {
	margin-right: 20px;
}



/*---------------------------------------------------------------*/
/* 06. HEADER
/*---------------------------------------------------------------*/

header {
	position: relative;
	z-index: 10;
}


/* Header */

#top-bar-wrapper + #site-header #header-wrapper {
	position: absolute;
}

#header-wrapper {
	position: absolute;
}

.sticky-enabled #header-wrapper {
	position: fixed;
}

.sticky-enabled #header-wrapper.header-sticked {
	position: fixed !important;
	top: 0;
}

#site-header {
	width: 100%;
	z-index: 980;
	@include transition(height 0.2s ease-in-out, opacity 0.2s ease-in-out);
	
	&.header-hidden {
		opacity: 0;
	}

	#header-wrapper {
		z-index: 10;
		width: 100%;
		@include transition(background-color 0.2s ease-in-out);
	}

	#header-container {
		max-width: 100%;
		height: 90px;
		margin: 0 auto;
		padding: 0 30px;
		position: relative;
	}
}

	#site-logo {
		position: absolute;
		left: 30px;
		margin-top: 0px;
		overflow: hidden;

		.site-title {
			padding: 0;
			margin: 0;
			line-height: 90px;
			font-size: 20px;
			font-weight: 800;
		}

		img {
			display: block;
//			max-height: 100%;
			padding: 0px;
		}

		img.retina-logo,
		img.sticked-retina-logo {
			display: none;
		}

		img.sticked-logo,
		img.sticked-retina-logo {
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
		}
	}

.full-width #site-logo {
	left: 30px;
}


/* Header search */
.header-search {
	position: absolute;
	top: 100%;
	right: 0;
	overflow: hidden;
}

.searchform-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.95);
	display: table;
	z-index: 9999;
	visibility: hidden;
	opacity: 0;

	@include transition(opacity 0.3s ease-in-out, visibility 0.3s ease-in-out 0.3s);
	.searchform-overlay-inner {
		display: table-cell;
		vertical-align: middle;
		text-align: center;

		.searchform-wrapper {
			max-width: 1000px;
			text-align: center;
			font-size: 30px;
			color: $text-dark;
			margin: 0 auto;

			.searchform {
				margin: 0 auto;
				@include transition(transform .5s ease-in-out);
				@include scale(0.8);

				label {
					text-transform: uppercase;
				}

				.search-input {
					background-color: transparent;
					text-transform: uppercase;
					text-align: center;
					width: 100%;
					max-width: 1000px;
					height: 120px;
					font-size: 80px;
					font-weight: 800;
					padding: 0 20px;
					border: none;
					margin: 30px auto 0 auto;
					color: $text-dark;
				}
			}
		}
	}
}

.searchform-overlay.header-search-active  {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;

	.searchform-overlay-inner .searchform-wrapper .searchform {
		@include scale(1);
	}
}


// Post header
.post-entry-header {
	padding: 0px;
}

.post-entry-header h1.entry-title, .post-entry-header h2.entry-title, h2.entry-title {
	font-size: 21px;
	font-weight: 600;
	margin: 0 0 2px;
	line-height: 1.3;
}

.post-preview {
	margin-bottom: 20px;

	img {
		display: block;
		height: auto;
		width: 100%;
		max-width: 100%;
	}

}


// Sticky header
.sticky-enabled #header-wrapper #header-container,
.sticky-enabled #header-wrapper #site-logo img {
	@include transition(height 0.2s);

  }

.sticky-enabled #header-wrapper #site-navigation .search_button,
.sticky-enabled #header-wrapper #site-navigation .header_cart_link,
.sticky-enabled #header-wrapper #site-logo .site-title {
	@include transition(line-height 0.2s);
}

.sticky-enabled #header-wrapper #site-navigation .menu > li > a {
	@include transition(line-height 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out);
}

.sticky-enabled #header-wrapper #site-navigation .menu > li.button {
	@include transition(margin 0.2s ease-in-out);
}

.sticky-enabled #site-navigation {
	@include transition(margin-top 0.2s);
}

.sticky-enabled #header-wrapper #header-slope {
	svg {
		transform-origin: center top;
		@include transition(transform 0.2s);
	}
}

.sticky-enabled #header-wrapper #site-logo img {
	@include transition(height 0.2s, width 0.2s, opacity 0.2s);
}

.sticky-enabled #header-wrapper.header-sticked #site-logo {
	@include transition(margin-top 0.2s, margin-left 0.2s);
}

.sticky-enabled #header-wrapper.header-sticked {
	position: fixed;
	webkit-backface-visibility :hidden;
	backface-visibility :hidden;
}

.sticky-enabled #header-wrapper.header-sticked #site-logo {
	img.sticked-logo,
	img.sticked-retina-logo {
		opacity: 1;
	}

	img.default-logo,
	img.retina-logo {
		opacity: 0;
	}
}

.sticky-enabled #header-wrapper.header-sticked #header-slope {
	@include transition(visibility 0s 0.2s);
	visibility: hidden;

	svg {
		transform: rotateX(-90deg);
	}
}

.header-sticked #site-navigation .menu-container {
	& >	ul > li > a:before {
		content: "";
		height: 2px;
		position: absolute;
		left: 50px;
		right: 50px;
		top: 5px;
		display: block;
		opacity: 0;

		@include transition(all 0.4s);
	}

	& >	ul > li:hover > a:before {
		opacity: 1;
		left: 20px;
		right: 20px;
		top: 10px;
	}
}


// Admin bar fix
.admin-bar {
	#wrapper, #mobile-site-navigation {
		padding-top: 32px;
	}
}


.admin-bar #header-wrapper.header-sticked {
	position: fixed;
	top: 32px;
	-webkit-backface-visibility: hidden;
}

@media (max-width: 782px) {
	.admin-bar {
		#wrapper, #mobile-site-navigation {
			padding-top: 46px;
		}
	}

	.admin-bar #header-wrapper.header-sticked {
		top: 46px;
	}
}


/*
Page title
*/

.page-header {
	position: relative;
	text-align: left;
	padding: 30px 0px 0px 0px;
	@include transition(padding 0.2s);
	font-size: 16px;
	background-size: cover;

	.row-inner {
		padding: 0 30px;
	}

	h1.page-title {
		font-size: 40px;
		margin: 0 0 5px 0;
		line-height: 1;
		color: $text-dark;
		font-weight: 300;
		letter-spacing: normal;
	}

	p {
		margin: 0;
		font-weight: 400;
		display: inline-block;
	}
}


// Breadcrumbs
.breadcrumbs-path {

	a {
		@include transition(color 0.1s ease-in-out);
	}

	.title-border {
		display: inline-block;
		margin: 10px 0;
	}
}

.breadcrumbs-separator {
	padding: 0 5px;
	font-size: 12px;
}


.page-header.tl-bl {
	text-align: left;

	.breadcrumbs-path p {
		float: left;
	}
}

.page-header.tc-bc {
	text-align: center;
}

.page-header.tr-br {
	text-align: right;

	.breadcrumbs-path p {
		float: right;
	}
}

.page-header.tl-br {
	vertical-align: text-bottom;

	.page-title {
		float: left;
		line-height: 30px;
	}

	.breadcrumbs-path {
		float: right;
		display: inline-block;
		line-height: 14px;
		margin-top: 16px;
	}
}

.page-header.tr-bl {
	vertical-align: text-bottom;

	.page-title {
		float: right;
		display: inline-block;
		line-height: 30px;
	}

	.breadcrumbs-path {
		float: left;
		display: inline-block;
		line-height: 14px;
		margin-top: 16px;
	}
}

// Title slope decoration
#title-slope {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100px;
	width: 100%;
	overflow: hidden;

	svg {
		@include transition(transform .5s ease-in-out);
	}

	path {
		fill: #fff;
		stroke-width: 0;
	}
}

.ts-left #title-slope {
	svg {
		@include transform-origin(left);
	}
}
.ts-right #title-slope {
	svg {
		@include transform-origin(right);
	}
}



/*---------------------------------------------------------------*/
/* 07. MENU
/*---------------------------------------------------------------*/

// menu item-button fix
//#site-header #site-navigation ul li.current-menu-item.button-dark > a,
//#site-header #site-navigation ul li.current_page_parent.button-dark > a,
//#site-header #site-navigation ul li.current-menu-ancestor.button-dark > a,
//#site-header #site-navigation ul li.current-menu-item.button-accent > a,
//#site-header #site-navigation ul li.current_page_parent.button-accent > a,
//#site-header #site-navigation ul li.current-menu-ancestor.button-accent > a {
//	color: #fff !important;
//}

#site-navigation {
	float: right;
	margin-bottom: -10px;

	a:not([href]) {
		cursor: default !important;
	}

	.menu-container {
		float: left;

//		.menu > .menu-item {
//			&.button > a {
//				line-height: 36px !important;
//			}
//
//			&.button-light > a {
//				color: $text-dark !important;
//				background-color: #fff !important;
//			}
//
//			&.button-dark > a {
////				color: #fff !important;
//				background-color: $grey-dark;
//			}
//
//			&.button-accent > a {
////				color: #fff !important;
//			}
//
//			&.button-round > a {
//				border-radius: 36px;
//			}
//
//			&.button-rounded > a {
//				border-radius: 4px;
//			}
//
//			&.button-square > a {
//				border-radius: 0;
//			}
//		}

		ul {
			padding: 0;
			margin: 0;
		}

		& ul li.new {
			position: relative;

			&:after {
				content: 'NEW';
				position: absolute;
				top: 10px;
				right: 10px;
				line-height: 22px;
				padding: 0 7px;
				border-radius: 2px;
				font-size: 10px;
				font-weight: 600;
				letter-spacing: .1em;
				color: #fff;
			}
		}

		& > ul > li > ul > li > a {
			min-width: 180px;
		}

		& > ul > li:not(.megamenu) > ul > li > a:hover {
			color: #fff !important;
			opacity: 1;
		}

		& > ul > li > ul > li > ul > li > a:hover {
			color: #fff !important;
			opacity: 1;
		}

		& > ul > li:not(.megamenu) ul  {
			right: auto;
			left: 0;
		}

		ul li ul li.current-menu-item > a:hover {
			color: #fff !important;
		}

		ul li {
			float: left;
			padding: 0;
			text-transform: uppercase;
			position: relative;

			a {
				cursor: pointer;
				display: inline-block;
				color: #9ca8ae;
				font-size: 12px;
				line-height: 90px;
				padding: 0px 20px;
				position: relative;
				@include transition(background 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out);
			}

			//Sub-level

			ul {
				position: absolute;
				top: 100%;
				margin: 0;
				right: 0;
				display: block;
				visibility: hidden;
				z-index: 9992;
				-webkit-backface-visibility: hidden;

				li {
					display: block;
					float: none;
					margin: 0;
					padding: 0;

					a {
						letter-spacing: 0em;
						display: block;
						position: relative;
						background: none;
						border: none;
						width: 170px;
						padding: 12px 20px;
						margin: 0;
						line-height: 1.7;
						font-size: 11px;
						font-weight: 500;

						@include transition(background 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out);

					}


					ul {
						margin: -3px 0 0 0;
						top: 0px;
						left: 210px;

						&:before, &:after {display: none;}

						li a {padding-right: 20px;}
					}
				}

				li.current-menu-item > a,
				li.current_page_parent > a {
					background: rgba(255,255,255,.1);
					opacity: 1;
				}
			}

			&:hover > ul {visibility: visible;}
		}
	}

	.header-buttons {
		display: inline-block;
		float: right;
	}

	.search_button, .header_cart_link {
		position: relative;
		background: none;
		font-size: 15px;
		font-weight: normal;
		padding: 0;
		line-height: 90px;
		text-align: center;
		width: 35px;
		border: none;
		box-shadow: none;
		outline: none;

		i {
			@include transition(color .2s ease-in-out);
		}
	}

	.header_cart_link {
		display: block;
		position: relative;
		width: 100%;
		font-size: 17px;
		overflow: visible;
		margin-left: 0px;
		padding: 0;
		text-align: center;

		i {
			padding-bottom: 1px;
			width: 15px;
			@include transition(color .2s ease-in-out);
		}

		.cart_product_count {
			color: #fff;
			font-size: 10px;
			font-weight: 600;
			position: absolute;
			top: 50%;
			right: 0px;
			margin-top: -18px;
			display: block;
			text-align: center;
			height: 16px;
			line-height: 16px;
			padding: 0 5px;
			overflow: visible;
			-webkit-border-radius: 16px;
			-moz-border-radius: 16px;
			border-radius: 16px;
		}
	}
}


/*
Predefined header menu styles
*/

#site-header {

	// Light menu style
	&.menu-light {
		#header-wrapper {
			background-color: #fff;
		}
		#site-logo {
			margin-top: 0px;

			.site-title a {
				color: $text-dark;
			}
		}
		#site-navigation {
			.menu-container {
				ul li {
					a {
						color: $text-dark;
					}
				}
			}
			.search_button, .header_cart_link {
				color: $text-dark;

				i {
				}
			}
			.header_cart_link {
				color: $text-dark;

				i {
				}
				.cart_product_count {
					color: #fff;
				}
			}
		}
		.toggle-mobile-menu {
			.line {
				background-color: $grey-dark;
			}
		}
	}

	// Dark menu style
	&.menu-dark {
		#header-wrapper {
			background-color: $grey-dark;
		}
		#site-logo {
			margin-top: 0px;

			.site-title a {
				color: #fff;
			}
		}
		#site-navigation {
			.menu-container {
				ul li {
					a {
						color: #fff;
					}
				}
			}
			.search_button, .header_cart_link {
				color: #fff;

				i {
				}
			}
			.header_cart_link {
				color: #fff;

				i {
				}
				.cart_product_count {
					color: #fff;
				}
			}
		}
		.toggle-mobile-menu {
			.line {
				background-color: #fff;
			}
		}
	}

	&.sticked-menu-light {
		#header-wrapper {
			background-color: #fff;
		}
		#site-logo {
			margin-top: 0px;

			.site-title a {
				color: $text-dark;
			}
		}
		#site-navigation {
			.menu-container {
				ul li {
					a {
						color: $text-dark;
					}
				}
			}
			.search_button, .header_cart_link {
				color: $text-dark;

				i {
				}
			}
			.header_cart_link {
				color: $text-dark;

				i {
				}
				.cart_product_count {
					color: #fff;
				}
			}
		}
		.toggle-mobile-menu {
			.line {
				background-color: $grey-dark;
			}
		}
	}

	// Dark menu style
	&.sticked-menu-dark {
		#site-logo {
			margin-top: 0px;

			.site-title a {
				color: #fff;
			}
		}
		#header-wrapper {
			background-color: $grey-dark;
		}
		#site-navigation {
			.menu-container {
				ul li {
					a {
						color: #fff;
					}
				}
			}
			.search_button, .header_cart_link {
				color: #fff;

				i {
				}
			}
			.header_cart_link {
				color: #fff;

				i {
				}
				.cart_product_count {
					color: #fff;
				}
			}
		}
		.toggle-mobile-menu {
			.line {
				background-color: #fff;
			}
		}
	}

	// Light menu style
	&.submenu-light {
		#site-navigation {
			.menu-container {
				& > ul > li {

					&.megamenu > ul > li {
						border-right: 1px solid $grey-border;
					}

					//Sub-level
					& > ul {
						background-color: #fff;

						li {
							a {
								color: $text-light;
							}
						}

						li.current-menu-item > a,
						li.current_page_parent > a {
							font-weight: 700;
						}
					}

					&.megamenu > ul > li > a {
						color: $text-dark;
					}
				}
			}
		}
	}

	&.submenu-dark {
		#site-navigation {
			.menu-container {
				letter-spacing: .1em;

				& > ul > li {

					&.megamenu > ul > li {
						border-right: 1px solid rgba(255,255,255,.1);
					}

					//Sub-level
					& > ul {
						background-color: $grey-copyright;

						li {
							a {
								color: $text-mid;
							}
						}

						li.current-menu-item > a,
						li.current_page_parent > a {
							font-weight: 700;
						}
					}

					&.megamenu > ul > li > a {
						color: #fff;
					}
				}
			}
		}
	}

	&.header-bold {
		#site-navigation {
			.menu-container {
				& > ul > li {
					& > a {
						font-weight: 700;
						font-size: 11px;
						letter-spacing: .1em;
					}

					//Sub-level
					& > ul {
						& > li {
							a {
								font-weight: 600;
							}
						}
					}
					&.megamenu > ul > li > a {
						font-weight: 800;
					}
				}
			}
		}
	}

	&.header-thin {
		#site-navigation {
			.menu-container {
				& > ul > li {
					& > a {
						font-size: 12px;
						letter-spacing: .1em;
						font-weight: 400;
					}

					//Sub-level
					& > ul {
						& > li {
							a {
								font-weight: 400;
							}
						}
					}
					&.megamenu > ul > li > a {
						font-weight: 600;
					}
				}
			}
		}
	}

	.menu-container > .menu > li .sub-menu {
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	}

	.menu-container > .menu > li.megamenu li .sub-menu {
		box-shadow: none;
	}
}



/*
3 level menu
*/

#site-header #site-navigation .menu-container > ul > li:not(.megamenu) > .sub-menu {
	& > li {
		background-color: inherit;

		& > .sub-menu {
			position: absolute;
			top: 6px;
			left: 100%;
			background-color: inherit;
			margin: 0;

			visibility: hidden;
			opacity: 0;
			transition-duration: 0;
		}

		&:hover > .sub-menu,
		&.mhover > .sub-menu {
			top: 0;
			visibility: visible;
			opacity: 1;
			transition-delay: 0s;
			@include transition(opacity 0.3s ease-in-out, top 0.3s ease-in-out, visibility 0s);
		}

		&.menu-item-has-children > a:after {
			content: "\f105";
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			transform: translate(0, 0);
			position: absolute;
			top: 0;
			right: 10px;
			line-height: 42px;
			font-size: 12px;
			color: inherit;
		}

		&.current-menu-ancestor > a:hover {
			color: #fff !important;
		}

	}
}


/*
Submenu animation
*/

#site-navigation .menu-container > ul > li.megamenu > .sub-menu {
	right: 0;
}

//Fade in
#site-navigation.fade-in .menu-container > ul > li > .sub-menu,
#site-navigation.fade-in .header_cart_wrapper .header_cart_widget {
	position: absolute;
	top: 100%;
	visibility: hidden;
	opacity: 0;
	transition-duration: 0;
}

#site-navigation.fade-in .menu-container > ul > li:hover > .sub-menu,
#site-navigation.fade-in .menu-container > ul > li.mhover > .sub-menu,
#site-navigation.fade-in .header_cart_wrapper:hover .header_cart_widget {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
	@include transition(opacity 0.3s ease-in-out, visibility 0s);
}

//From-top
#site-navigation.from-top .menu-container > ul > li > .sub-menu,
#site-navigation.from-top .header_cart_wrapper .header_cart_widget {
	position: absolute;
	top: 80%;
	visibility:hidden;
	opacity:0;
	transition-duration: 0;
}

#site-navigation.from-top .menu-container > ul > li:hover > .sub-menu,
#site-navigation.from-top .menu-container > ul > li.mhover > .sub-menu,
#site-navigation.from-top .header_cart_wrapper:hover .header_cart_widget {
	top: 100%;
	visibility:visible;
	opacity:1;
	transition-delay: 0s;
	@include transition(top 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s);
}

//From-bottom
#site-navigation.from-bottom .menu-container > ul > li > .sub-menu,
#site-navigation.from-bottom .header_cart_wrapper .header_cart_widget {
	position: absolute;
	top: 120%;
	visibility:hidden;
	opacity:0;
	transition-duration: 0;
}

#site-navigation.from-bottom .menu-container > ul > li:hover > .sub-menu,
#site-navigation.from-bottom .menu-container > ul > li.mhover > .sub-menu,
#site-navigation.from-bottom .header_cart_wrapper:hover .header_cart_widget {
	top: 100%;
	visibility:visible;
	opacity:1;
	transition-delay: 0s;
	@include transition(top 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s);
}

//Scale up
#site-navigation.scale .menu-container > ul > li > .sub-menu,
#site-navigation.scale .header_cart_wrapper .header_cart_widget {
	position: absolute;
	top: 100%;
	visibility:hidden;
	opacity:0;
	@include scale(.9);
	transition-duration: 0;
}

#site-navigation.scale .menu-container > ul > li:hover > .sub-menu,
#site-navigation.scale .menu-container > ul > li.mhover > .sub-menu,
#site-navigation.scale .header_cart_wrapper:hover .header_cart_widget {
	visibility:visible;
	opacity:1;
	transition-delay: 0s;
	@include scale(1);
	@include transition(transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s);
}

//Slide down
#site-navigation.slide .menu-container > ul > li {
	@include transition(transform 0.3s ease-in-out, visibility 0s);
}

#site-navigation.slide .menu-container > ul > li > .sub-menu,
#site-navigation.slide .header_cart_wrapper .header_cart_widget {
	position: absolute;
	top: 100%;
	visibility:hidden;
	opacity:0;
	overflow-y: hidden;
	transform-origin: center top;
	transform: rotateX(-90deg);
	transition-duration: 0;
}

#site-navigation.slide .menu-container > ul > li:hover > .sub-menu,
#site-navigation.slide .menu-container > ul > li.mhover > .sub-menu,
#site-navigation.slide .header_cart_wrapper:hover .header_cart_widget {
	visibility:visible;
	opacity:1;
	transition-delay: 0s;
	transform: rotateX(0deg);
	@include transition(transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s);
}


// Mega menu
#site-navigation ul li.megamenu {
	position: static;

	& > ul {
		width: 100%;
		max-width: 1000px;
		display: table;
		padding: 20px 0;
		float: right;
		cursor: default;

		& > li {
			padding: 0;

			&:last-child {
				border-right: none !important;
			}

		}

	}
}

#site-navigation ul li.megamenu > ul > li {
	width: 25%;
	display: table-cell;
	float: none;
	padding: 0;
	cursor: default;

	&.hide-title > a {
		display: none;
	}

	& > a {
		width: auto;
//		font-size: 13px;
		font-weight: 600;
		letter-spacing: 2px;
		line-height: 16px;
		padding: 5px 20px 15px;
		opacity: 1;
	}
}

#site-header #site-navigation ul > li.megamenu > ul > li > a:hover {
	background: none
}

#site-navigation ul li.megamenu ul li ul {
	position: relative;
	border-top: none;
	left: 0px;
	cursor: default;
}

#site-navigation ul li.megamenu:hover ul li ul {visibility: visible;}

#site-navigation ul li.megamenu ul li ul li a {
	padding: 14px 20px;
	line-height: 1;
	width: auto;
}

/* Mega menu columns */
#site-navigation ul li.megamenu.columns-2 > ul > li {width: 50%;}

#site-navigation ul li.megamenu.columns-3 > ul > li {width: 33.3333%;}

#site-navigation ul li.megamenu.columns-4 > ul > li {width: 25%;}

#site-navigation ul li.megamenu.columns-5 > ul > li {width: 20%;}

#site-navigation ul li.megamenu.columns-6 > ul > li {width: 16.6666%;}


/* Mobile menu */
.toggle-mobile-menu {
	display: none;
	position: absolute;
	width: 24px;
	height: 28px;
	line-height: 1;
	top: 50%;
	right: 30px;
	margin-top: -14px;

	i {
		color: #fff;
		font-size: 28px;
	}

	.line {
		height: 2px;
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		background-color: #fff;
	}

	.top {
		@include translate(0,-8px);
	}

	.middle {
		@include translate(0,-1px);
	}

	.bottom {
		@include translate(0,6px);
	}
}

.menu-light .toggle-mobile-menu i,
.sticked-menu-light .toggle-mobile-menu i {
	color: $grey-dark;
}

#mobile-site-navigation.mm-menu.mm-current {
	display: block;
}

.mm-menu {
	background-color: #fff;
	color: $text-mid;
	font-size: 12px;

	.mm-header {
		background-color: $grey-superdark;
		color: #fff;
		border: none;
		font-weight: 800;
		letter-spacing: .2em;
		height: 100px;
		text-align: left;
		padding: 40px 25px 0 !important;

		.mm-prev {
			top: auto !important;
			bottom: 0 !important;
			right: 0 !important;
			left: auto !important;
			height: 60px;
			text-align: center;
			padding: 0 !important;

			&:before {
				content: "\f104";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				font-size: 21px;
				display: block;
				line-height: 60px;
				text-align: center;
				position: relative !important;
				left: 0 !important;
				width: 100%;
			}
		}
	}

	.mm-list {
		padding-top: 120px !important;

		& > li {
			@include transition(background-color .2s ease-in-out);

			&.mm-selected a {
				background-color: transparent !important;
			}

			&:after {
				display: none !important;
			}

			&:hover {
				background-color: rgba(0,0,0,.05);
			}

			& > a {
				font-size: 14px;
				font-weight: 400;
//				text-transform: uppercase;
//				letter-spacing: .1em;
				padding-left: 25px;

				&:before {
					display: none;
				}
			}
		}
	}
}

/*-----------------------------------------------------------------
	08.	CONTENT
-------------------------------------------------------------------*/


/* All posts */

blockquote {
	margin-left: 20px;
	padding-left: 20px;
	border-left: 2px solid;

	p {
		font-style: italic;
		font-size: 16px;
	}
}

article.post-entry {
	padding: 30px;
	margin-bottom: 30px;

	.entry-title {
		letter-spacing: normal;

		a {
			@include transition(color .2s ease-in-out);
		}
	}

	.entry-summary, .entry-content {
		font-size: 14px;
		line-height: 2;
	}
}

article.post-entry.format-quote,
article.post-entry.format-link,
article.post-entry.format-status {
	margin-bottom:30px;
}
.single-post article.post-entry {
	margin-bottom:70px;
}
body:not(.single-format-standard) .single-post article .entry-content {
	margin-top:25px;
}

/* Post navigation */
.post-navigation {
	clear: both;

	a {
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		color: $text-light;
		display:inline-block;
		padding: 5px 15px;
		margin-right: 5px;
		float: right;

		@include transition(all .2s ease-in-out);

		&:first-child {
			float: left;
		}

		&:hover {
			color: #fff;
		}
	}
}

.blog-tiled {
	.post-navigation {
		padding: 0 30px;

		a {
			border-radius: 0;
			border: 1px solid $grey-border;
		}
	}
}

.blog-tilt {
	.post-navigation {
		margin-top: 100px;
	}
}


/* More tag - Read more link */
.more-link {
	display:inline-block;
	margin-top:21px;
	font-size:14px;
}

/* Password protected post */
.post-password-form {
	margin-top:30px;
	margin-bottom:30px;
}
.post-password-form label input {
	margin-left:10px;
	margin-right:10px;
}
.post-password-form input[type="submit"]{
	line-height:10px;
	padding:17px 45px
}

/* Quote + Link + Status format */
article.format-quote .quoute-text:after,
article.format-link .link-text:after,
article.format-status .status-text:after  {
	font-family: FontAwesome; content: "";
	font-size:19px;
	position:absolute;
	bottom:10px;
	right:20px;
}

article.format-link .link-text .entry-title,
article.format-status .status-text .entry-title {
	margin-bottom:15px;
}

article.format-quote .quoute-text .entry-title {
	margin-bottom: 10px;
	text-transform: none;
	font-weight: 400;
}

article.format-quote .quoute-text,
article.format-link .link-text,
article.format-status .status-text {
	border: 1px solid $grey-border;
	background:#f9f9f9;
	margin-bottom:10px;
	position:relative;
	border-radius:4px;
}

article.format-quote .quoute-text span,
article.format-link .link-text span,
article.format-status .status-text span {
	font-size: 14px;
}

article.format-quote .quoute-text span:before {
	content:"\2014";
	padding-right:5px;
}

article.format-quote blockquote{
	border:none;
	background:none;
	margin:0px;
	padding:0px;

	a:last-child {
		font-size:15px;
	}
}

article.format-quote blockquote:after,
article.format-quote blockquote cite:before  {
	display:none;
}

/* Chat format */
article.format-chat p {
	padding:10px 10px 10px 40px;
	margin:0px;
	background: $grey-light;

	&:before{
		font-family: FontAwesome;
		content: "\f075";
		display:inline-block;
		width:20px;
		margin-left:-27px;
		margin-right:8px;
		font-size:16px;
		line-height:10px;
		vertical-align:-1px;
		color: $text-light;
	}
}

article.format-chat p:nth-child(odd) {
	background: transparent;

	&:before {
		font-family: FontAwesome;
		content: "\f0e5";
	}
}

article.format-status .status-text span{
	display:block;
	margin-bottom:18px;
}

/* Audio format */
.wp-audio-shortcode {
	max-width:100%;
}

/* Video format */
.wp-video-shortcode {
	max-width: 100%;
}

article.format-video .post-preview  {
	margin-left:-3px;
	margin-right:-3px;

	.post-video-wrapper {
		padding-top: 56%;
		position: relative;

		& > div {
			padding-top: 0 !important;
			position: static;
		}

		iframe {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			margin: 0;
			top: 0;
			left: 0;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
	}
}



/* Image format */
article.format-image .post-preview {
	img {
		min-width:100%;
	}

	a {
		position: relative;
		display: block;
		overflow: hidden;
		border-radius: 4px;

		&:after {
			font-family: FontAwesome;
			content: "\f14c";
			width: 80px;
			height: 80px;
			line-height: 83px;
			text-align: center;
			font-size: 33px;
			background: #000;
			background: rgba(0, 0, 0, 0.75);
			color: #fff;
			position: absolute;
			display: block;
			bottom: 0%;
			left: 0%;
			border-radius: 0px 0px 0px 4px;
			-webkit-transition: background-color 0.4s;
			-moz-transition: background-color 0.4s;
			-o-transition: background-color 0.4s;
			transition: background-color 0.4s;
		}
	}

	a.local-image:after {
		content: "\f0c1";
	}
}

.single-post article.format-image .post-preview {

	a {
		max-height: none;
	}
}

/* Gallery format */
article.format-gallery .flex-direction-nav a.flex-next, article.format-gallery .flex-direction-nav a.flex-prev {
	display: none;
}

article.format-gallery .flexslider  {
	border: none;
	box-shadow: none;
	margin-bottom: 0px;
	overflow: hidden;
	border-radius: 4px;

	img {
		border-radius: 0px;
	}

	.flex-control-nav {
		bottom:5px;
	}

	.flex-control-paging li a {
		box-sizing:
		content-box;
		background:none;
		border:1px solid #fff;
		width:7px; height:7px;
		border-radius: 7px;
		box-shadow:none;

		&:hover {
			background:none;
		}

		&.flex-active {
			background:#fff;
		}
	}
}

/* Next and previous links */

.post-arrows {
	position: fixed;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 100;
	height: 0;

	.button-wrapper-left,
	.button-wrapper-right {
		position: relative;
		cursor: pointer;

		@include transition(all .4s ease-in-out);
	}

	.previous_post_link,
	.next_post_link {
		display: table;
		position: absolute;
		top: 0;
		height: 100px;
		table-layout:fixed;
		@include transition(all .4s ease-in-out);
	}

	.previous_post_link a,
	.next_post_link a {
		color: #fff;
		padding: 15px;
		font-size: 12px;
		white-space: nowrap;
	}

	.button-wrapper-left {
		float: left;
		perspective: 1000px;
		-webkit-perspective-origin: 100% 50%;
		perspective-origin: 100% 50%;
		opacity: .1;

		i{
			width: 40px;
			line-height: 100px;
			background-color: $grey-dark;
			text-align: center;
			display: inline-block;
			height: 100px;
			color: #fff;
			font-size: 24px;
		}

		.previous_post_link {
			height: 100px;
			position: absolute;
			left: 100%;

			transform-origin: left center;
			transform: rotateY(90deg);

			a {
				display: table-cell;
				vertical-align: middle;
				font-weight: 600;
				line-height: 20px;
				text-transform: uppercase;
				text-align: left;
				background-color: $grey-dark;
			}
		}

		&:hover {
			@include translate(-40px,0);
			opacity: 1;

			.previous_post_link {
				transform: rotateY(0deg);
			}
		}

	}

	.button-wrapper-right {
		float: right;
		perspective: 1000px;
		-webkit-perspective-origin: 0% 50%;
		perspective-origin: 0% 50%;
		opacity: .1;

		i {
			width: 40px;
			line-height: 100px;
			text-align: center;
			display: inline-block;
			background-color: $grey-dark;
			height: 100px;
			color: #fff;
			font-size: 24px;
		}

		.next_post_link {
			display: table;
			position: absolute;
			top: 0;
			height: 100px;
			right: 100%;
			table-layout:fixed;

			transform-origin: right center;
			transform: rotateY(-90deg);

			a {
				display: table-cell;
				vertical-align: middle;
				font-weight: 600;
				line-height: 20px;
				text-transform: uppercase;
				text-align: right;
				background-color: $grey-dark;
			}
		}


		&:hover {
			@include translate(40px,0);
			opacity: 1;

			.next_post_link {
				transform: rotateY(0deg);
			}
		}
	}
}


/* Meta */
article.post-entry .entry-meta {
	margin-bottom: 20px;
	font-size: 14px;

	span:after {
		content: "|";
		display: inline-block;
		padding: 0 5px;
	}

	span:last-child:after {
		display:none;
	}
}

.entry-meta-footer {
	margin-top:20px;
	color:#96a5ae;
	font-size:13px;
	clear:both;

	a {
		color:#96a5ae;
	}

	span:after {
		content:"|";
		display:inline-block;
		padding:0 5px;
	}

	span:last-child:after {
		display:none;
	}
}

.tag-links {
	margin-top: 30px;
	margin-bottom:5px;

	&:before {
		content: "\e055";
		font-family: 'Simple-Line-Icons';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		display:inline-block;
		width: 25px;
		margin-left:1px;
		font-size:16px;
		vertical-align:-2px;
	}

	span {
		display: inline-block;
		margin-right: 5px;
		line-height: 1;

		a {
			@include transition(color .1s ease-in-out);
			color: $text-mid;
		}

		&:after {
			content: ",";
			margin-left: 2px;
			padding: 0px;
		}

		&:last-child:after {
			content:"";
			margin-left:0px;
		}
	}
}


/* Page links */
.page-links {
	clear: both;
	font-size: 12px;
	text-transform:uppercase;
	font-weight: 600;
	color: $text-mid;
	padding-top: 20px;

	span {
		padding-right:5px;
	}
}

/* Author info */
.author-area {
	border-bottom: 1px solid $grey-border;
	padding: 0 0 70px;
	margin-bottom: 70px;

	.author-image {
		float:left;
	}

	.author-bio {
		margin-left: 200px;

		.author-label {
			font-size: 11px;
			font-weight: 600;
			color: $text-light;
			font-style: italic;
			letter-spacing: .1em;
		}

		.author-name {
			font-weight: 600;
			margin-bottom: 15px;
			line-height: 1.3;
			font-size: 20px;
			color: $text-dark;
		}

		.author-info {
			line-height: 2;
			margin-bottom: 20px;
		}

		.author-more {
			font-size: 12px;
			font-weight: 700;
			letter-spacing: .1em;
			text-transform: uppercase;
			display: inline-block;
			@include transition(color .2s ease-in-out);

			&:hover {
				color: $text-dark;
			}
		}
	}
}

body.blog-tilt .author-area {
	margin-top: 110px;
}

/*
Search result page
*/
.search-results, .search-no-results {

	.page-header h1.page-title {
		font-size: 24px;
		font-weight: 600;
		text-transform: none;
		letter-spacing: normal;
		display: inline-block;

		.search-query {
			display: block;
			font-size: 50px;
			font-weight: 800;
			text-transform: uppercase;
			margin-top: 10px;
		}
	}

	.results-container {
		margin-bottom:40px;

		.widget.widget_search {
			margin-top: 10px;
		}
	}

	article {
		display: inline-block;
		width: 100%;
		-webkit-transform: translateZ(0);

		.entry-title {
			font-size:14px;
		}

		.entry-summary {
			margin: 16px 0 0 !important;
			font-size: 14px;
			color: $text-mid;
			line-height: 2;
		}

		.entry-meta-footer {

			.meta-author, .meta-category, .meta-comments {
				display: none !important;
			}

			.meta-date {
				border-bottom: none !important;

				&:after {
					display: none !important;
				}
			}

			span:after {
				display:inline;
			}
		}
	}
}

/*
Error 404 page
*/

body.error404 #main {
	padding: 0 !important;
}

article.error404 {

	.error-content {
		background-color: $grey-light;
	}

	.row-inner {
		padding: 250px 0 210px;
		text-align:center;

		h1 {
			font-size: 60px;
			line-height: 1;
			color: $grey-darklite;
			font-weight: 800;
		}

		h2 {
			font-size: 40px;
			margin: 100px 0 30px;
			font-weight: 400;
			color: $grey-darklite;
			letter-spacing: normal;
		}

		p {
			margin-bottom: 50px;
			color: $text-light;
			font-size: 18px;
			font-weight: 400;
		}

		i {
			font-size: 100px;
			line-height: 1;
			width: 100px;
			cursor: pointer;
			opacity: 1;
			color: $grey-darklite;
			@include transition(color .2s ease-in-out);
		}
	}
}

/* Nothing found search page*/
.search-no-results #content {
	h2 {
		margin-top:5px;
		margin-bottom:30px;
		text-transform:uppercase;
	}

	.search-no-results #content p {
		margin-top:-15px;
		color:#999;
		margin-bottom:50px;
		font-size:15px;
		font-weight:300;
	}
}

/* No posts found page */
p.no-posts {
	margin-top:30px;
	margin-bottom:32px;
	font-size:15px;
	font-weight:300;
}


/*
Blog templates
*/

h1.entry-title {
	@include transition(color .2s ease-in-out);
}

//Common style
body:not(.single) {
	#main #content {

		article:not(.format-gallery) .post-preview {
			position: relative;
			overflow: hidden;
			border-radius: 0;
			-webkit-border-radius: 0;

			img {
				border-radius: 0;
				@include scale(1);
				@include transition(transform);
				transition-timing-function: ease-in-out;
				transition-duration: .3s;
				z-index: 1;
			}

			&:hover img {
				@include scale(1.1);
				transition-duration: 2s;
				transition-timing-function: cubic-bezier(.13, .19, 0, .99);
			}
		}
	}
}

#main #content {
	article.format-standard {
		.entry-content {
			span {
				font-size: 16px;
				color: $text-mid;
			}
		}
	}

	article.format-gallery .post-preview {

		a {
			border-radius: 0;
		}

		img {
			border-radius: 0;
		}
	}

	article:not(.format-gallery) .post-preview {
		position: relative;
		overflow: hidden;
		border-radius: 0;

		a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			border-radius: 0;
			background-color: rgba(255, 255, 255, 0);
			z-index: 2;
			@include transition(background-color .3s ease-in-out);

			&:hover {
				background-color: rgba(255, 255, 255, 0.6);

				&:after {
					opacity: .7;
				}
			}

			&:after {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -30px;
				margin-left: -30px;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				opacity: 0;
				line-height: 60px;
				font-size: 20px;

				@include transition(opacity .3s ease-in-out);
			}
		}

		&.ext-image {
			height: 425px;

			a img {
				height: 100%;
				width: auto;
			}
		}

	}

	article.format-quote {

		.quoute-text {
			background-color: transparent;
			border: none;
			border-left: 2px solid;
			border-radius: 0;
			padding: 0 0 0 15px;

			a {
				font-weight: 400;
				font-size: 18px;
			}

			span {
				font-size: 14px;
				color: $text-mid;
				line-height: 2;
			}
		}
	}

	article.format-link {

		.link-text {
			background-color: transparent;
			border: none;
			border-left: 2px solid;
			border-radius: 0;
			padding: 0 0 0 15px;

			a {
				font-weight: 400;
				font-size: 18px;
			}

			span {
				font-size: 14px;
				color: $text-mid;
				line-height: 2;
			}
		}
	}

	article.format-status {

		.status-text {
			background-color: transparent;
			border: none;
			border-radius: 0;
			margin-bottom: 0;

			.entry-title {
				border-left: 2px solid;
				padding: 0 0 0 15px;
				font-weight: 400;

				a {
					font-weight: 400;
					font-size: 18px;
				}
			}

			span {
				font-size: 14px;
				color: $text-mid;
				line-height: 2;
				margin-bottom: 0;
			}
		}
	}

	article {
		.entry-summary {
			color: $text-mid;
		}
	}
}

.single-portfolio article {
	padding: 0!important;
}


//Tiled template
body.blog-tiled {
	#main {
		background-color: $grey-superlight;
	}

	#title-slope {
		path {
			fill: $grey-superlight;
		}
	}

	#content {

		article.post-entry {
			background-color: #fff;
			border-radius: 0;
			border: 1px solid $grey-border;

			@include transition(box-shadow .3s ease-in-out);

			&:hover {
				box-shadow: 0 1px 3px 0 rgba(000,000,000,.1);
			}

			.post-entry-header {
				font-weight: 200px;
			}

			h1.entry-title {
				font-weight: 400;
				text-transform: uppercase;
				font-size: 24px;
			}

			.entry-meta, .entry-meta-footer {
				color: $text-light;
				font-weight: 400;
				font-family: Open Sans, Arial, sans-serif;

				.vline-wrapper {
					display: none;
				}

				.hline-wrapper {
					display: none;
				}

				.meta-date {
					display: inline-block;
					text-transform: uppercase;

					.d {
						display: inline-block;
						font-weight: 200;
					}

					.my {
						display: inline-block;
						font-weight: 500;
					}
				}

				.meta-author {
					color: $text-dark;

					i {
						display: none;
					}
				}

				.meta-category {
					color: $text-dark;

					i {
						display: none;
					}
				}

				.meta-comments {
					color: $text-dark;

					i {
						display: none;
					}
				}

				a {
					color: $text-light;
					@include transition(color .1s ease-in-out);
				}
			}

			.more-link {
				display: none;
			}
		}

		.read-more {
			display: block;
			padding-top: 10px;

			.excerpt-read-more {
				font-size: 12px;
				font-weight: 600;
				line-height: 35px;
				padding: 0px 25px 0 15px;
				border: 1px solid $grey-border;
				border-radius: 0;
				color: $text-light;
				position: relative;
				display: inline-block;
				@include transition(all .2s ease-in-out);

				&:hover {
					color: #fff;
				}

				i {
					line-height: 35px;
					position: absolute;
					top: 0;
					right: 12px;
				}
			}
		}
	}
}

body.single #main #content article.post-entry .entry-meta,
body.single #main #content article.post-entry .entry-meta-footer, {

	.vline {
		display: none;
	}
}

body.blog-clear #content article.post-entry .entry-meta,
body.blog-clear #content article.post-entry .entry-meta-footer,
body.blog-tilt #content article.post-entry .entry-meta,
body.blog-tilt #content article.post-entry .entry-meta-footer{

	.meta-author,
	.meta-category,
	.meta-comments {
		padding-left: 0;
	}
}

//Clear template
body.blog-clear {

	#content {

		article.post-entry {

			border-bottom: 1px solid $grey-border;
			padding-bottom: 60px;
			padding-right: 0;
			padding-left: 0;

			.post-preview {
				border-top: 3px solid;
			}

			h1.entry-title {
				font-weight: 300;
				text-transform: uppercase;
				font-size: 30px;
			}

			.entry-meta, .entry-meta-footer {
				color: $text-light;
				font-weight: 400;
				font-family: Open Sans, Arial, sans-serif;

				.vline-wrapper {
					display: none;
				}

				.hline-wrapper {
					display: none;
				}

				.meta-date {
					display: inline-block;
					text-transform: uppercase;
					font-family: Ubuntu, Arial, sans-serif;
					border-bottom: none;

					.d {
						display: inline-block;
						font-weight: 600;
					}

					.my {
						display: inline-block;
						font-weight: 600;
					}
				}

				.meta-author {
					color: $text-dark;

					i {
						display: none;
					}
				}

				.meta-category {
					color: $text-dark;

					i {
						display: none;
					}
				}

				.meta-comments {
					color: $text-dark;

					i {
						display: none;
					}
				}

				a {
					color: $text-light;
					@include transition(color .1s ease-in-out);
				}
			}

			.entry-summary {
				margin: 0;
				color: $text-mid;

				.more-link {
					display: none;
				}
			}
		}

		.read-more {
			display: block;
			margin-top: 60px;
			text-align: center;

			.excerpt-read-more {
				font-size: 11px;
				text-transform: uppercase;
				letter-spacing: .3em;
				font-weight: 700;
				line-height: 35px;
				margin: 0 auto;
				padding: 0px 30px;
				border-top: 1px solid $grey-light;
				border-bottom: 1px solid $grey-light;
				color: $text-mid;
				position: relative;
				display: inline-block;

				@include transition(all .2s ease-in-out);

				&:hover {
					color: #fff;
					background-color: $blue-light;
					border-color: $blue-light;
				}

				i {
					display: none;
				}
			}
		}
	}
}

body.blog-clear #content {
	article {
		.post-preview {
			border-radius: 0 !important;

			a, img {
				border-radius: 0 !important;
			}
		}
	}
}


//TiLT template
body.blog-tilt {

	#main {
		background-color: $grey-superlight;
		padding-bottom: 140px;
	}

	#title-slope {
		path {
			fill: $grey-light;
		}
	}

	#content {

		article.post-entry {
			position: relative;
			background-color: #fff;
			padding-bottom: 20px;
			margin: 70px 0 0;

			.post-slope-top, .post-slope-bot {
				position: absolute;
				left: 0;
				height: 50px;
				width: 100%;

				path {
					fill: #fff;
				}
			}
			.post-slope-top {
				bottom: 100%;
				margin-bottom: -1px;
			}

			.post-slope-bot {
				top: 100%;
				margin-top: -1px;
			}

			h1.entry-title {
				font-weight: 300;
				text-transform: uppercase;
				font-size: 30px;
			}

			.entry-meta, .entry-meta-footer {
				margin-top: 15px;
				color: $text-dark;
				font-weight: 400;
				font-family: Open Sans, Arial, sans-serif;

				.vline-wrapper {
					display: none;
				}

				.hline-wrapper {
					display: none;
				}

				.meta-date {
					display: inline-block;
					text-transform: uppercase;
					font-family: Ubuntu, Arial, sans-serif;
					border-bottom: none;

					.d {
						display: inline-block;
						font-weight: 600;
					}

					.my {
						display: inline-block;
						font-weight: 600;
					}
				}

				.meta-author {
					color: $text-dark;

					i {
						display: none;
					}
				}

				.meta-category {
					color: $text-dark;

					i {
						display: none;
					}
				}

				.meta-comments {
					color: $text-dark;

					i {
						display: none;
					}
				}

				a {
					color: $text-light;
					@include transition(color .1s ease-in-out);
				}
			}

			.entry-summary {
				margin: 0;
				color: $text-mid;

				.more-link {
					display: none;
				}
			}
		}

		.read-more {
			display: block;
			margin-top: 15px;

			.excerpt-read-more {

				font-size: 14px;
				font-weight: 600;
				line-height: 35px;
				color: $text-mid;
				position: relative;
				display: inline-block;

				@include transition(color .2s ease-in-out);

				i {
					display: none;
				}
			}
		}
	}
}


/*---------------------------------------------------------------*/
/* 09. Images
/*---------------------------------------------------------------*/

img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget img {
	max-width: 100%;
	height: auto;
}

img.alignleft {
	margin-right: 1em;
}

img.alignright {
	margin-left: 1em;
}

/* WordPress Captions */
.wp-caption {
	text-align: center;

	figcaption {
		background-color: rgba(0, 0, 0, 0.70);
		text-align: left;
		color: #fff;
		margin: 0;
		padding: 6px 8px;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing:  border-box;
	}
}

dl.wp-caption {
	padding:0px;
}

dt.wp-caption-dt:after {
	content:"";
	content:none;
}

figure.wp-caption {
	max-width:100%;
}

.wp-caption.alignleft  {
	margin-right: 1em;
}

.wp-caption.alignright {
	margin-left: 1em;
}

.wp-caption .wp-caption-text  {
	margin: -0.5em 0.25em 0.25em 0em;
}

/* WordPress Gallery (some parts adapted from Twenty Fourteen by the WordPress team http://wordpress.org/themes/twentyfourteen) */
.gallery-item {
	float: left;
	overflow: hidden;
	position: relative;

	img {
		-webkit-transition: opacity 0.3s ease-in;
		-moz-transition: opacity 0.3s ease-in;
		-o-transition: opacity 0.3s ease-in;
		transition: opacity 0.3s ease-in;
	}

	a img:hover {
		opacity:0.8;
		filter:alpha(opacity=80);
	}
}

.gallery:before,
.gallery:after {
	content: "";
	display: table;
}

.gallery:after {
	clear: both;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
	min-width: 100%;
}

.gallery-columns-2 .gallery-item {
	min-width: 47%;
	max-width: 47%;
}

.gallery-columns-3 .gallery-item {
	min-width: 32%;
	max-width: 32%;
}

.gallery-columns-4 .gallery-item
{min-width: 24%;
	max-width: 24%;
}

.gallery-columns-5 .gallery-item
{min-width: 19%;
	max-width: 19%;
}

.gallery-columns-6 .gallery-item {
	min-width: 15%;
	max-width: 15%;
}

.gallery-columns-7 .gallery-item {
	min-width: 13%;
	max-width: 13%;
}

.gallery-columns-8 .gallery-item {
	min-width: 11%;
	max-width: 11%;
}

.gallery-columns-9 .gallery-item {
	min-width: 9%;
	max-width: 9%;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	margin: 0;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 5px;
	left: 0;
	text-align: left;
	-webkit-transition: opacity 0.3s ease-in;
	-moz-transition: opacity 0.3s ease-in;
	-o-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:50%;
}

.gallery-item:hover .gallery-caption,
.gallery-item.touch-hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/* Forms - Class for labelling required form items */
.required {
	color: #cc0033;
}


/*---------------------------------------------------------------*/
/* 10. Comments
/*---------------------------------------------------------------*/


#comments {
	padding-bottom:5px;

	h3.comments-title {
		font-family: Open Sans, Arial, sans-serif;
		font-size: 14px;
		font-weight: 400;
		color: $text-light;
		text-align: center;

		.comments-title-inner {
			padding: 0 20px;
			margin: 0 auto;
			display: inline-block;
			text-transform: uppercase;
			position: relative;

			&:before, &:after {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				width: 100px;
				height: 1px;
				background-color: $grey-border;
			}

			&:before {
				right: 100%;
			}

			&:after {
				left: 100%;
			}
		}
	}

	.comment-list {
		margin: 0 0 40px;
		list-style: none;

		li article {
			padding: 40px 0;

		}

		.children {
			list-style:none;
			margin:0px;
			padding-left:30px;
			position:relative;

			li {
				margin:0;
			}
		}

		.bypostauthor {

			article {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}

	.comment-body {
		min-height: 60px;
		padding: 0 0 30px 0;
		margin: 25px 0px 0px;
		border-bottom: 1px solid $grey-border;
		display: block;
		position: relative;

		p:last-child {
			margin-bottom:0px;
		}

		.comment-content {
			font-size: 16px;
			color: $text-mid;
			clear: both;
			line-height: 1.6;

			img {
				width: 100%;
			}
		}

		footer {
			margin-bottom: 30px;
		}
	}

	.comment-author {

		img {
			float: left;
			margin-right: 20px;
			margin-top: -30px;
			border: 4px solid $grey-light;
			border-radius: 50%;
		}

		.fn {
			font-size: 16px;
			font-weight: 700;
			font-style: normal;
			color: $grey-dark;
		}

		.says {
			display:none;
		}

		.author-url {
			font-size: 13px;
			font-weight: 600;
			font-style: normal;
		}
	}

	.children .comment-body {

		.comment-author img {
			width: 40px;
			height: 40px;
			margin-top: 0;
		}

		footer {
			margin-bottom: 30px;
		}
	}

	.comment-metadata {
		font-size: 14px;
		font-family: Open Sans, Arial, sans-serif;

		a {
			color: $text-dark;
		}
	}

	.reply {
		position: absolute;
		right: 0;
		top: 50px;

		.comment-reply-link {
			text-transform:uppercase;

			font-size: 12px;
			font-weight: 600;
			line-height: 30px;
			height: 30px;
			padding: 0 15px;
			border: 1px solid $grey-border;
			border-radius: 0;
			color: $text-light;
			position: relative;
			display: block;

			@include transition(all .2s ease-in-out);

			&:hover {
				color: #fff;
			}
		}
	}


}

/* Pingbacks and trackbacks */
#comments .pingback .comment-body {
	min-height:0px;
	margin:0px;
	padding:15px 0px;

	&:before {
		font-family: FontAwesome;
		content: "\f122";
		color:#aaaaaa;
		padding-right: 8px;
		font-size:14px;
		vertical-align:-1px;
	}
}

/* Comment form */
#comments {

	.comment-form-info-fields {
		margin-bottom:25px;
	}

	.comment-form-author input#author,
	.comment-form-email input#email,
	.comment-form-url input#url {
		width:100%;
		margin-top:3px;
	}

	.comment-form-author label,
	.comment-form-email label,
	.comment-form-url label {
		margin-bottom: 5px;
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
		color: #363b3e;
	}

	.comment-awaiting-moderation {
		color: $red-light;
	}

	p.comment-form-comment {
		margin-bottom:25px;
	}

	p.comment-form-comment label {
		display:none;
	}

	p.comment-form-comment textarea#comment {
		width: 100%;
		font-size: 14px;
	}

	p.comment-notes,
	p.logged-in-as,
	p.must-log-in {
		margin-bottom: 40px;
		margin-top: 10px;
		font-size: 14px;
		color: $text-light;
	}

	p.logged-in-as a {
		color: $text-dark;
	}


	h3.comment-reply-title {
		margin-top: 40px;
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
	}

	h3.comment-reply-title #cancel-comment-reply-link {
		display:inline-block;
		float:right;
		margin-right: 2px;
		line-height: 1;
		text-transform: uppercase;
		font-size:11px;
		font-weight:600;
		-webkit-transition: all 0.25;
		-moz-transition: all 0.25s;
		transition: all 0.25s;
	}
}

/* Comment form columns */
.col_container:before,
.col_container:after {
	content: " ";
	display: table;
}

.col_container:after {
	clear: both;
}

.col_container .col_3 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	float: left;
	width: 33.33333333333333%;
	min-height: 1px;
	padding-right: 20px;
}

.col_container .col_3:last-child {
	padding-right:0px;
}

/* Paragraph that wraps the submit button and hidden comment ID fields. */
p.form-submit {
	margin-bottom:0;
	text-align: right;

	#submit {
		font-family: Open Sans, Arial, sans-serif;
		font-size: 12px;
		font-weight: 600;
		color: #fff;
		text-transform: uppercase;
		line-height: 40px;
		padding: 0 20px;
		border: none;
		border-radius: 3px;

		@include transition(background-color .2s ease-in-out);

		&:hover {
			background-color: $blue-mid;
		}
	}
}


/*---------------------------------------------------------------*/
/* 11. Footer
/*---------------------------------------------------------------*/

.site-footer {
	overflow-x:hidden;
}

/* Footer widget style */
.footer-sidebar, .site-info {
	background: $grey-footer;
	padding: 60px 0px 15px 0px;

	.copyright-inner {
		padding: 0 15px;
	}

	.row-inner-full {
		.vc_col-sm-12, .vc_col-sm-6, .vc_col-sm-4, .vc_col-sm-3 {
			padding-left: 5%;
			padding-right: 5%;
		}

	}

	.widget {
		margin-bottom: 0px;
		font-weight: 400;
		color: rgba(255,255,255,.3);
		font-size: 14px;

		a {
			color: rgba(255,255,255,.5);
		}

		sub, sup {
			text-transform:none;
			line-height:1px;
			font-weight:normal;
		}

		sub a:hover, sup a:hover {
			border-bottom: 2px solid;
		}

		input {
			width:85%;
			border-radius:2px;
		}

		input[type="submit"] {
			width:85%;
			height:44px;
			padding:10px 45px;
		}

		ul li, ul ul {
			border:none;
		}

		.widget-title {
			color: #fff;
			text-transform:uppercase;
			font-weight:600;
			font-size:14px;
		}
	}

	.widget_search {
		border-color: rgba(255,255,255,.3);

		&:before {
			color: rgba(255,255,255,.3);
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}


	.widget-area .widget .tagcloud {
		a {
			font-size: 10px !important;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: .1em;
			color: rgba(255,255,255,.5);
			border-color: rgba(255,255,255,.5);

			&:hover {
				border-color: transparent;
				color: #fff;
			}
		}
	}

	#wp-calendar {

		caption {
			color: rgba(255,255,255,.3);
		}

		thead {
			th {
				color: #fff;

			}
		}

		tbody {

			a {
				text-decoration:none;
			}

			td {
				padding:4px 0;
				border-width: 1px;
				border-style: solid;
				border-color: transparent;
				@include transition(all .1s ease-in-out);

				&:not(.pad):hover {
					color: #fff;
					background-color: rgba(255,255,255,.1);
				}
			}

			.pad {
				border:1px solid transparent;
				background: transparent;
			}
		}

		tfoot td {
			border: 1px solid transparent;
			background: transparent;
		}
	}
}


/* Copyright widget style */
.site-info {

	.row-inner-full {
		padding-left: 5% !important;
		padding-right: 5% !important;
	}

	.widget {
		margin-bottom:0px;
		float:left;
		margin-right:40px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 10px;
		line-height: 30px;
		padding: 0;
	}

	.widget-title {
		display:none
	}

	.recentcomments {
		padding-left:10px;

		&:first-child {
			padding-left:0px;
		}
	}

	ul {
		list-style:none;
		margin:0;

		li {
			display:inline;
			margin-right:10px;
			border:none;

			&:last-child {
				margin-right:0px;
			}

			i {
				vertical-align:middle;
			}
		}

		li a {
			padding:0px 10px 0px 0px;
		}
	}
}

.footer-sidebar .vc_col-sm-4:last-child,
.footer-sidebar .vc_col-sm-6:nth-child(3),
.footer-sidebar .vc_col-sm-12 {
	margin:0;
}

/*
Copyright area
*/
.site-info {
	width: 100%;
	background: $grey-copyright;
	padding: 20px 0;
	letter-spacing: .1em;
}

.site-info .widget {
	margin:0px;
}

/* Scroll to top button */
.scrollToTop {
	width: 40px;
	height: 40px;
	padding: 0 10px;
	text-align: center;
	color: $grey-mid;
	font-size: 30px;
	text-decoration: none;
	position: fixed;
	z-index: 999;
	bottom: 15px;
	right: 15px;
	background-color: transparent;
	opacity: 1;
	@include translate(0,0);
	@include transition(transform .3s ease-in-out, opacity .3s ease-in-out);

	&.invisible {
		opacity: 0;
		@include translate(0, 15px);
		@include transition(transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out .3s);
	}

	svg {
		@include transition(transform .2s ease-in-out);
	}

	&:hover svg {
		@include translate(0,-3px);
	}

	polygon {
		fill: $text-light;
		@include transition(fill .2s ease-in-out);
	}
}




/*-----------------------------------------------------------------
	12.	WIDGETS
-------------------------------------------------------------------*/

/* Default widget style */
.widget {
	margin: 0 0 30px;
	padding: 0 0 20px 0;
	font-size: 13px;
	font-weight: 400;
	font-family: Open Sans, Arial, sans-serif;

	.screen-reader-text {
		display: none;
	}

	&:last-child {
		margin-bottom:0px;
	}

	a {
		@include transition(all .1s ease-in-out);
		color: $text-light;

//		&:not(.button):hover{
//			color: $blue-light;
//		}
	}

	ul {
		margin:0;
		padding:0;
		list-style:none;

		li {
			padding: 5px 0;
			margin:0;
		}

		&:last-child {
			padding-bottom:0px;
			border-bottom:none;
			box-shadow: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
		}

		&:first-child {
			padding-top:0px;
		}

		ul {
			margin-top:10px;

			li {
				margin-left:15px;

				&:first-child {
					padding-top:10px;
				}
			}
		}
	}

	.widget-title {
		font-weight: 600;
		font-size: 14px;
		padding: 0;
		margin: 0 0 10px;
		text-transform: uppercase;
	}
}

.widget_search {
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	margin-bottom: 45px;
	position: relative;
	cursor: pointer;
	border: 2px solid $grey-border;

	@include transition(all .2s ease-in-out);

	&:hover {
		background-color: $grey-superlight;
	}

	&:before {
		content: "Search...";
		font-weight: 400;
		color: $text-mid;
	}

	&:after {
		color: $grey-border;
		position: absolute;
		top: 0;
		right: 15px;
		font-family: FontAwesome;
		content: "\f002";
	}
}


/* Top bar widget style */

#top-bar {
	height: 40px;
	width: 100%;
	margin: 0 auto;
	padding: 0 30px;
	line-height: 20px;

	#topleft-widget-area,
	#topright-widget-area {
		padding: 10px 0;
		display: inline-block;
	}

	#topleft-widget-area {
		float: left;
	}

	#topright-widget-area {
		float: right;
	}

	.widget-container {
		margin-right:40px;
		line-height: 20px;
		height: 20px;

		&:last-child {
			margin-right:0px;
		}
	}

	.widget-title {
		font-weight:bold;
		margin-right:10px;
	}

	.recentcomments {
		padding-left:10px;

		&:first-child {
			padding-left:0px;
		}
	}

	ul {
		font-size:12px;
		list-style:none;
		margin:0;

		li {
			float:left;
			margin:0;

			i {
				vertical-align:	middle;
			}

			a {
				padding:0px 10px 0px 0px;

				&:after {
					content: "/";
					font-size:12px;
					vertical-align:top;
					color:#696969;
					margin-left:10px;
					opacity:0.4;
				}
			}

			&:first-child a {
				padding-left:0px;
			}

			&:last-child a {
				padding-right:0px;
				border-right: none;
				box-shadow: none;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;

				&:after {
					content: "";
				}
			}
		}
	}

	#topright-widget-area ul {
		float:right;
	}

	.vc_icon_element-inner {
		height: 20px !important;
		width: 20px !important;
		line-height: 20px !important;
	}

	.widget_icl_lang_sel_widget {
		position: relative;
	}

	#lang_sel {
		margin-top: -2px;
		position: absolute;
		left: 0;
		top:0;
		width: 100%;
		z-index: 981;

		ul li a {
			padding: 0px 10px;
			line-height: 24px;
			border-right: 1px solid #cdcdcd;
		}
	}
}



/*
Single widget styles
*/

/* WP Menu Widget */
#sidebar {

	.widget_nav_menu {

		ul li {
			padding:0px;
			position:relative;
			margin-bottom: 10px;
			background: transparent;

			a {
				display:block;
				padding: 10px 15px;
				color: $text-dark;
				font-size: 11px;
				text-transform: uppercase;
				font-weight: 800;
				letter-spacing: .1em;
				@include transition(border-color .2s ease-in-out, color .2s ease-in-out);

				&:hover {
					border-color: $grey-dark;
				}
			}

		}

		ul li.menu-item-has-children {
			background:none;
			border:none;
		}

		ul li.current-menu-item {

			&:hover a {
				border-color: $grey-dark;
			}

			a {
				background-color: $grey-dark;
				border-color: $grey-dark;
				color: #fff;

				&:hover {
					color: #fff;
				}
			}
		}

		ul ul {
			margin-bottom:15px;
			margin-top:0px;

			li  {
				margin-right:15px;
			}
		}
	}
}

#sidebar.float-left {
	 .widget_nav_menu {
		 ul li {

			 &.current-menu-item a {
				 border-color: $grey-dark;
			 }

			 a {
				 text-align: right;
				 border-right: solid 3px $grey-border;
			 }
		 }
	 }
 }

#sidebar.float-right {
	.widget_nav_menu {
		ul li {

			&.current-menu-item a {
				border-color: $grey-dark;
			}

			a {
				text-align: left;
				border-left: solid 3px $grey-border;
			}
		}
	}
}


/* WP Calendar */
#wp-calendar {
	max-width: 100%;
	font-size: 10px;
	background:none;

	tr {
		background-color: transparent;
	}

	caption {
		text-align: right;
		font-size: 12px;
		font-weight: 600;
		margin-bottom: 10px;
		color: $grey-mid;
		text-transform: uppercase;
	}

	thead {
		font-weight:bold;
		font-size: 10px;
		color: #444;

		th {
			padding:0 0 10px 0;
			width: 36px;
			background:none;
			color: $text-dark;
			font-size: 13px;
			font-weight: 600;
			text-shadow:none;
		}
	}

	tbody {
		color: $text-mid;
		font-size: 13px;

		a {
			text-decoration:underline;
		}

		td {
			background: transparent;
			padding:6px 8px;
			border: none;
			text-align: center;

			@include transition(background .1s ease-in-out, border-color .1s ease-in-out);

			&:hover {
				background: $grey-light;

			}
		}

		.pad, .pad:hover {
			border-color: transparent;
			background:none;
		}
	}

	#today {
		background:#999;
		color:#f9f9f9;

		a {
			color:#f9f9f9;
		}
	}

	tfoot {
		#next {
			text-transform: uppercase;
			text-align: right;
			padding-left:60px;
		}

		#prev {
			text-transform: uppercase;
			padding-top: 10px;
			padding-right:60px;
		}
	}
}

/* Tags */
.widget-area {
	.widget {
		.tagcloud {
			text-transform:lowercase;

			a {
				color: $text-mid;
				background: transparent;
				font-size: 10px !important;
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: .1em;
				display: inline-block;
				padding: 7px 10px;
				margin: 3px 2px;
				border: 1px solid $grey-border;

				@include transition(all .1s ease-in-out);

				&:hover {
					border-color: transparent;
					color: #fff;
				}
			}
		}
	}
}

/* Recent posts */
.post-date {
	display:block;
	font-size:11px;
}

/* Search */
.search-input {
	width:100%;
	max-width:300px;
}


/*---------------------------------------------------------------*/
/* 13. Portfolio
/*---------------------------------------------------------------*/
.single-portfolio article.post-entry {
	margin-bottom:0;
	border: none !important;
}

.portfolio-fetured-img img {
	width:100%;
	max-width:100%
}





/*---------------------------------------------------------------*/
/* 14. Plugins
/*---------------------------------------------------------------*/

/*
CONTACT FORM 7
*/
.wpcf7 {
	max-width:100%;

	p {
		display: block;
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
		color: #36353C;
	}

	input, textarea, span, select {
		width:100%;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		margin-top: 5px;
		margin-bottom: 30px;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;

	}

	input, textarea, select {
		background: none;
		border: 1px solid $grey-border;
		color: $text-mid;
		height: auto;
		font-size: 14px;
		padding: 5px 15px;

		&:focus {
			background-color: $grey-superlight;
		}
	}

	textarea {
		min-height: 216px;
		padding: 15px;
	}

	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
		color:#bdc3c7
	}

	input::-moz-placeholder, textarea::-moz-placeholder {
		color:#AAAFB3
	}

	input[type="submit"] {
		color:#fff;
		width:auto;
		font-size:13px;
		font-weight:600;
		height:auto;
		padding: 13px 45px;
		border:none
	}

	input[type='checkbox'] {
		width:auto;
		height:auto;
		border:none;
		vertical-align:-1px
	}

	input[type='radio'] {
		width:auto;
		height:auto;
		border:none;
		vertical-align:-1px
	}

	input.wpcf7-file {
		background:none;
		border:none;
		padding-left:0;
		padding-right:10px;
		height:30px
	}

	input[type='file'] {
		background:none;
		border:none;
		box-shadow:none
	}

	input[type='range'] {
		background:none
	}

	input[type='url'] {
		text-decoration:underline
	}
}


/*
Contact form 7 loader style
*/
div.wpcf7 img.ajax-loader {
	margin-left:20px;
	background:#fff;
	padding:10px;
	border-radius:50%
}

/* Contact form 7 message boxes */
span.wpcf7-not-valid-tip {
	color: $red;
	padding: 5px 15px;
	margin-top: -30px;
	text-align: right;
}

input.wpcf7-not-valid {
	border-color: $red;
}

div.wpcf7-response-output {
	margin:0
}

/*
ESSENTIAL GRID
*/
article.essential_grid .post-preview img,article.essential_grid .post-preview a {
	border-radius:4px
}

/*
WPML
*/
#sidebar .widget.widget_icl_lang_sel_widget {
	overflow:visible
}


/*---------------------------------------------------------------*/
/* 15. Retina
/*---------------------------------------------------------------*/
@media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (-moz-device-pixel-ratio: 1.5),
        only screen and (min--moz-device-pixel-ratio: 1.5),
        only screen and (min-resolution: 1.5dppx),
        only screen and (-o-min-device-pixel-ratio: 32),
        only screen and (min-device-pixel-ratio: 1.5) {

  #site-logo img.default-logo,
  #site-logo img.sticked-logo {
    display: none;
  }

  #site-logo img.retina-logo,
  #site-logo img.sticked-retina-logo {
    display: block;
  }
}

/*---------------------------------------------------------------*/
/* 16. Responsive - Visual Composer related styles are inside core extension plugin
/*---------------------------------------------------------------*/
/* Menu paddings for boxed header */
@media only screen and (max-width : 1150px) {
	#site-logo {
		left:30px
	}

	#wrapper.page-boxed {
		.page-header {
			.row-inner {
				padding-left: 30px !important;
				padding-right: 30px !important;
			}
		}
	}
}

/*
	* -------------------------------------------------------------------------------------------
	* ALL DEVICES INCLUDING TABLET LANDSCAPE
	* -------------------------------------------------------------------------------------------
	*/
@media only screen and (max-width : 1024px) {
	/* General */
	body {
		-webkit-text-size-adjust:none
	}

	/* Title area */
	.page-header {
		-webkit-background-size:auto!important;
		-moz-background-size:auto!important;
		-o-background-size:auto!important;
		background-size:auto!important
	}
}

/*
	* -------------------------------------------------------------------------------------------
	* TABLET LANDSCAPE ONLY
	* -------------------------------------------------------------------------------------------
	*/
@media only screen and (min-width: 979px) and (max-width: 1024px) {

}

/*
	* -------------------------------------------------------------------------------------------
	* ALL DEVICES STARTING TABLET PORTRAIT
	* -------------------------------------------------------------------------------------------
	*/
@media only screen and (max-width: 979px) {

	/* Page Title */
	.page-header .page-title {
		border-bottom:none
	}

	/* Sidebar layout change */
	#content.float-left,#content.float-right,#sidebar {
		width:100%
	}

	#sidebar.float-right,#sidebar.float-left {
		padding: 60px 0 30px
	}

	#sidebar .widget-area aside {
		width:100%
	}

	#content.float-left {
		padding-right: 0;
	}

	#content.float-right {
		padding-left: 0;
	}

	/* Comment form */
	.col_container .col_3 {
		float:none;
		width:100%;
		padding-right:0;
		margin-top:15px
	}

	#comments p.comment-notes,p.logged-in-as,p.must-log-in {
		margin-bottom:20px
	}

	/* Footer forms */
	.footer-sidebar .widget input {
		width:100%
	}

	.footer-sidebar .widget input[type="submit"] {
		width:100%
	}
}

/*
	* -------------------------------------------------------------------------------------------
	* TABLET PORTRAIT ONLY
	* -------------------------------------------------------------------------------------------
	*/
@media only screen and (min-width: 768px) and (max-width: 979px) {
	/* WordPress gallery */
	.gallery-columns-1 .gallery-item {
		max-width:100%;
		min-width:100%
	}

	.gallery-columns-2 .gallery-item,.gallery-columns-3 .gallery-item,.gallery-columns-4 .gallery-item,.gallery-columns-5 .gallery-item,.gallery-columns-6 .gallery-item,.gallery-columns-7 .gallery-item,.gallery-columns-8 .gallery-item,.gallery-columns-9 .gallery-item {
		min-width:48%;
		max-width:48px
	}
}

/*
	* -------------------------------------------------------------------------------------------
	* MOBILE BOTH VIEWS
	* -------------------------------------------------------------------------------------------
	*/
@media only screen and (max-width: 767px) {
	/* Top bar */
	#top-bar {
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;

		#topleft-widget-area, #topright-widget-area {
			display: block;
			padding-left: 0;
			padding-right: 0;
			float: none;
		}

		.widget-container {
			height: auto;
		}
	}

	#top-bar ul li,#top-bar #topright-widget-area ul {
		float:none;
		text-align:center;
		margin:0 auto
	}

	/* Footer */
	.vc_responsive .footer-sidebar .vc_col-sm-3,.vc_responsive .footer-sidebar .vc_col-sm-4,.vc_responsive .footer-sidebar .vc_col-sm-6 {
		margin-bottom:50px
	}

	/* Search page */

	.search-no-results .error-icon {
		visibility:hidden
	}

	/* Footer */
	.footer-sidebar {
		padding-bottom:10px
	}

	/* 404 page */
	article.error404 .row-inner {
		padding:50px 0 65px
	}

	article.error404 .row-inner {
		h2 {
			font-size: 20px;
		}

		p {
			font-size: 16px;
		}

		i {
			font-size: 40px;
			width: 40px;
		}
	}
}

/*
	* -------------------------------------------------------------------------------------------
	* MOBILE LANDSCAPE ONLY
	* -------------------------------------------------------------------------------------------
	*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	/* Table style */
	th {
		padding:10px
	}

	td {
		padding:10px 5px
	}

	/* WordPress Gallery */
	.gallery-columns-1 .gallery-item {
		max-width:100%;
		min-width:100%
	}

	.gallery-columns-2 .gallery-item,.gallery-columns-3 .gallery-item,.gallery-columns-4 .gallery-item,.gallery-columns-5 .gallery-item,.gallery-columns-6 .gallery-item,.gallery-columns-7 .gallery-item,.gallery-columns-8 .gallery-item,.gallery-columns-9 .gallery-item {
		min-width:48%;
		max-width:48%
	}

	// Author area
	.author-area {
		.author-image {
			float: none !important;
			margin: 0;
		}
		.author-bio {
			margin: 30px 0 0 !important;
		}
	}
}

/*
	* -------------------------------------------------------------------------------------------
	* MOBILE PORTRAIT & LOWER
	* -------------------------------------------------------------------------------------------
	*/
@media only screen and (max-width: 479px) {
	/* Table style */
	th {
		padding:5px
	}

	td {
		padding:5px 2px
	}

	/* Definition list*/
	dt {
		text-align:left;
		width:auto
	}

	dd {
		clear:both;
		margin:0
	}

	/* Posts */
	.previous_post_link a,.next_post_link a {
		float:none;
		display:block;
		text-align:center
	}

	.previous_post_link a:before {
		margin-right:5px
	}

	.next_post_link a {
		margin-bottom:20px
	}

	.previous_post_link a {
		margin-bottom:0
	}

	// Author area
	.author-area {
		.author-image {
			float: none !important;
			margin: 0;
		}
		.author-bio {
			margin: 30px 0 0 !important;
		}
	}

	/* Comment form */
	#comments .comment-list #respond {
		margin:0 0 50px
	}

	#comments .comment-list .children .children {
		border-left:none
	}

	#comments .comment-body {
		padding-bottom:50px
	}

	#comments .comment-body footer {
		text-align:center;
		margin-bottom:25px
	}

	#comments .comment-author img {
		margin:0 auto;
		float:none
	}

	#comments .comment-author .fn {
		display:block;
		clear:both;
		margin-top:10px
	}

	#comments .children .comment-body {
		padding-left:40px;
		padding-bottom:50px
	}

	#comments .comment-list .children {
		padding-left:0
	}

	#comments .reply {
		position:relative;
		right:auto;
		top:auto;
		text-align:center;
		margin-top:37px
	}

	#comments h3.comment-reply-title #cancel-comment-reply-link {
		display:block;
		float:none;
		margin-top:10px
	}

	#comments ol.children li .comment-body .comment-author img {
		width:50px;
		height:50px
	}

	#comments ol.children li ol li .comment-body .comment-author img {
		width:40px;
		height:40px
	}

	#comments ol.children li ol li ol li .comment-body .comment-author img {
		width:30px;
		height:30px
	}

	#comments ol.children li ol li ol li ol li .comment-body .comment-author img {
		width:20px;
		height:20px
	}

	/* Copyright area */
	.site-info i {
		margin-bottom:15px
	}

	/* WordPress Gallery */
	.gallery-columns-1 .gallery-item,.gallery-columns-2 .gallery-item,.gallery-columns-3 .gallery-item,.gallery-columns-4 .gallery-item,.gallery-columns-5 .gallery-item,.gallery-columns-6 .gallery-item,.gallery-columns-7 .gallery-item,.gallery-columns-8 .gallery-item,.gallery-columns-9 .gallery-item {
		max-width:100%;
		min-width:100%
	}
}

/*------------------------------------------------------------------------------*/
/* THANK YOU FOR CHOOSING OUR THEME! - Whitebox Studio | http://whiteboxstud.io
/*------------------------------------------------------------------------------*/
