.navbar .nav li a {
	max-width: none;
}

.page-header {

}

.page-header h3 {
	background-color: #262628;
	padding: 20px;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: .3em;
	font-weight: 800;
}

.page-header hr {
	display: none;
}