/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/*======================*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  text-rendering: optimizelegibility;
  font-weight: 600;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .1em;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: none;
  /* removing text decoration from all headline links */ }
  h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a {
    text-decoration: none; }

h1, .h1 {
  font-weight: 800;
  font-size: 2.5em;
  line-height: 1.3em; }

h2, .h2 {
  font-weight: 800;
  font-size: 1.75em;
  line-height: 1.2em;
  margin-bottom: 0.375em; }

h3, .h3 {
  font-weight: 800;
  line-height: 1.2em;
  font-size: 1.125em; }

h4, .h4 {
  line-height: 1.2em;
  font-size: 1.1em; }

h5, .h5 {
  line-height: 1.2em;
  font-size: 1em; }

h6, .h6 {
  line-height: 1.2em;
  font-size: 0.846em; }

/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */ }
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }
    .menu ul li {
      /*
				plan your menus and drop-downs wisely.
				*/ }
      .menu ul li a {
        /*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/ }

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */ }
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left; }
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right; }
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both; }

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/*********************
HEADER STYLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
.nav {
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */ }
  .nav ul {
    background: #323944;
    margin-top: 0; }
  .nav li {
    float: left;
    position: relative;
    /*
		plan your menus and drop-downs wisely.
		*/
    /* showing sub-menus */ }
    .nav li a {
      border-bottom: 0;
      /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/ }
      .nav li a:hover, .nav li a:focus {
        color: #fff;
        text-decoration: underline; }
    .nav li ul.sub-menu,
    .nav li ul.children {
      margin-top: 0;
      border: 1px solid #ccc;
      border-top: 0;
      position: absolute;
      visibility: hidden;
      z-index: 8999;
      /* highlight sub-menu current page */ }
      .nav li ul.sub-menu li,
      .nav li ul.children li {
        /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/ }
        .nav li ul.sub-menu li a,
        .nav li ul.children li a {
          padding-left: 10px;
          border-right: 0;
          display: block;
          width: 180px;
          border-bottom: 1px solid #ccc; }
        .nav li ul.sub-menu li:last-child a,
        .nav li ul.children li:last-child a {
          border-bottom: 0; }
        .nav li ul.sub-menu li ul,
        .nav li ul.children li ul {
          top: 0;
          left: 100%; }
    .nav li:hover > ul {
      top: auto;
      visibility: visible; }

/* end .nav */
/*********************
MOBILE NAVIGATION
*********************/
/* Toggle button */
.toggle-mobile-menu {
  display: none; }

#site-navigation {
  display: block; }

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
  margin-top: 2.2em; }

.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em; }

.widget ul li {
  /* deep nesting */ }

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links ul li {
  /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/ }

/* end .footer-links */
/*
Blog templates
*/
body.blog-tiled #content {
  padding-left: 200px; }
  body.blog-tiled #content article.post-entry {
    position: relative;
    min-height: 150px; }
    body.blog-tiled #content article.post-entry .post-entry-header {
      position: static; }
    body.blog-tiled #content article.post-entry .entry-meta, body.blog-tiled #content article.post-entry .entry-meta-footer {
      width: 170px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 100%;
      margin: 0 30px 0 0;
      text-align: left; }
      body.blog-tiled #content article.post-entry .entry-meta .vline-wrapper, body.blog-tiled #content article.post-entry .entry-meta-footer .vline-wrapper {
        display: block;
        position: absolute;
        left: 10px;
        top: 0;
        height: 100%;
        padding-top: 70px;
        margin-top: 15px; }
        body.blog-tiled #content article.post-entry .entry-meta .vline-wrapper .vline, body.blog-tiled #content article.post-entry .entry-meta-footer .vline-wrapper .vline {
          height: 100%;
          width: 2px;
          background-color: #ededed; }
      body.blog-tiled #content article.post-entry .entry-meta .hline-wrapper, body.blog-tiled #content article.post-entry .entry-meta-footer .hline-wrapper {
        display: block;
        position: absolute;
        left: 0px;
        top: 25px;
        width: 100%;
        padding-left: 60px;
        margin-left: 15px; }
        body.blog-tiled #content article.post-entry .entry-meta .hline-wrapper .hline, body.blog-tiled #content article.post-entry .entry-meta-footer .hline-wrapper .hline {
          width: 100%;
          height: 2px;
          background-color: #ededed; }
      body.blog-tiled #content article.post-entry .entry-meta .meta-date, body.blog-tiled #content article.post-entry .entry-meta-footer .meta-date {
        display: block;
        text-transform: uppercase;
        margin-bottom: 15px; }
        body.blog-tiled #content article.post-entry .entry-meta .meta-date .d, body.blog-tiled #content article.post-entry .entry-meta-footer .meta-date .d {
          display: block;
          font-size: 50px;
          line-height: 50px;
          font-weight: 200; }
        body.blog-tiled #content article.post-entry .entry-meta .meta-date .my, body.blog-tiled #content article.post-entry .entry-meta-footer .meta-date .my {
          display: block;
          font-size: 16px;
          line-height: 20px;
          font-weight: 700;
          margin-bottom: 10px; }
        body.blog-tiled #content article.post-entry .entry-meta .meta-date:after, body.blog-tiled #content article.post-entry .entry-meta-footer .meta-date:after {
          display: none; }
      body.blog-tiled #content article.post-entry .entry-meta .meta-author, body.blog-tiled #content article.post-entry .entry-meta-footer .meta-author {
        display: block;
        padding-left: 30px; }
        body.blog-tiled #content article.post-entry .entry-meta .meta-author i, body.blog-tiled #content article.post-entry .entry-meta-footer .meta-author i {
          display: inline-block;
          margin-right: 5px; }
        body.blog-tiled #content article.post-entry .entry-meta .meta-author:after, body.blog-tiled #content article.post-entry .entry-meta-footer .meta-author:after {
          display: none; }
      body.blog-tiled #content article.post-entry .entry-meta .meta-category, body.blog-tiled #content article.post-entry .entry-meta-footer .meta-category {
        display: block;
        padding-left: 30px; }
        body.blog-tiled #content article.post-entry .entry-meta .meta-category i, body.blog-tiled #content article.post-entry .entry-meta-footer .meta-category i {
          display: inline-block;
          margin-right: 5px; }
        body.blog-tiled #content article.post-entry .entry-meta .meta-category:after, body.blog-tiled #content article.post-entry .entry-meta-footer .meta-category:after {
          display: none; }
      body.blog-tiled #content article.post-entry .entry-meta .meta-comments, body.blog-tiled #content article.post-entry .entry-meta-footer .meta-comments {
        display: block;
        padding-left: 30px; }
        body.blog-tiled #content article.post-entry .entry-meta .meta-comments i, body.blog-tiled #content article.post-entry .entry-meta-footer .meta-comments i {
          display: inline-block;
          margin-right: 5px; }

body.blog-clear #content article.post-entry {
  padding-left: 200px;
  position: relative;
  min-height: 280px; }
  body.blog-clear #content article.post-entry .post-entry-header {
    position: static; }
  body.blog-clear #content article.post-entry .entry-meta, body.blog-clear #content article.post-entry .entry-meta-footer {
    width: 170px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px 30px 0 0;
    text-align: right; }
    body.blog-clear #content article.post-entry .entry-meta .meta-date, body.blog-clear #content article.post-entry .entry-meta-footer .meta-date {
      display: block;
      text-transform: uppercase;
      margin-bottom: 15px;
      font-family: Lato, Arial, sans-serif;
      border-bottom: 1px solid #ededed; }
      body.blog-clear #content article.post-entry .entry-meta .meta-date .d, body.blog-clear #content article.post-entry .entry-meta-footer .meta-date .d {
        display: block;
        font-size: 64px;
        line-height: 60px;
        font-weight: 100; }
      body.blog-clear #content article.post-entry .entry-meta .meta-date .my, body.blog-clear #content article.post-entry .entry-meta-footer .meta-date .my {
        display: block;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        margin-bottom: 15px; }
      body.blog-clear #content article.post-entry .entry-meta .meta-date:after, body.blog-clear #content article.post-entry .entry-meta-footer .meta-date:after {
        display: none; }
    body.blog-clear #content article.post-entry .entry-meta .meta-author, body.blog-clear #content article.post-entry .entry-meta-footer .meta-author {
      display: block;
      padding-left: 30px; }
      body.blog-clear #content article.post-entry .entry-meta .meta-author i, body.blog-clear #content article.post-entry .entry-meta-footer .meta-author i {
        display: inline-block;
        margin-right: 5px; }
      body.blog-clear #content article.post-entry .entry-meta .meta-author:after, body.blog-clear #content article.post-entry .entry-meta-footer .meta-author:after {
        display: none; }
    body.blog-clear #content article.post-entry .entry-meta .meta-category, body.blog-clear #content article.post-entry .entry-meta-footer .meta-category {
      display: block;
      padding-left: 30px; }
      body.blog-clear #content article.post-entry .entry-meta .meta-category i, body.blog-clear #content article.post-entry .entry-meta-footer .meta-category i {
        display: inline-block;
        margin-right: 5px; }
      body.blog-clear #content article.post-entry .entry-meta .meta-category:after, body.blog-clear #content article.post-entry .entry-meta-footer .meta-category:after {
        display: none; }
    body.blog-clear #content article.post-entry .entry-meta .meta-comments, body.blog-clear #content article.post-entry .entry-meta-footer .meta-comments {
      display: block;
      padding-left: 30px; }
      body.blog-clear #content article.post-entry .entry-meta .meta-comments i, body.blog-clear #content article.post-entry .entry-meta-footer .meta-comments i {
        display: inline-block;
        margin-right: 5px; }

body.blog-tilt #content article.post-entry {
  padding: 110px 60px 30px 60px;
  min-height: 250px; }
  body.blog-tilt #content article.post-entry .post-entry-header {
    position: static; }
  body.blog-tilt #content article.post-entry .entry-meta, body.blog-tilt #content article.post-entry .entry-meta-footer {
    position: absolute;
    top: 0px;
    right: 60px;
    margin: 0;
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 1px solid #ededed; }
    body.blog-tilt #content article.post-entry .entry-meta .meta-date, body.blog-tilt #content article.post-entry .entry-meta-footer .meta-date {
      display: block;
      text-transform: uppercase;
      font-family: Lato, Arial, sans-serif; }
      body.blog-tilt #content article.post-entry .entry-meta .meta-date .d, body.blog-tilt #content article.post-entry .entry-meta-footer .meta-date .d {
        display: block;
        font-size: 28px;
        line-height: 30px;
        font-weight: 800; }
      body.blog-tilt #content article.post-entry .entry-meta .meta-date .my, body.blog-tilt #content article.post-entry .entry-meta-footer .meta-date .my {
        display: block;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        margin-bottom: 5px; }
      body.blog-tilt #content article.post-entry .entry-meta .meta-date:after, body.blog-tilt #content article.post-entry .entry-meta-footer .meta-date:after {
        display: none; }
    body.blog-tilt #content article.post-entry .entry-meta .meta-author, body.blog-tilt #content article.post-entry .entry-meta-footer .meta-author {
      padding-left: 10px; }
      body.blog-tilt #content article.post-entry .entry-meta .meta-author i, body.blog-tilt #content article.post-entry .entry-meta-footer .meta-author i {
        display: inline-block;
        margin-right: 5px; }
      body.blog-tilt #content article.post-entry .entry-meta .meta-author:after, body.blog-tilt #content article.post-entry .entry-meta-footer .meta-author:after {
        display: none; }
    body.blog-tilt #content article.post-entry .entry-meta .meta-category, body.blog-tilt #content article.post-entry .entry-meta-footer .meta-category {
      padding-left: 10px; }
      body.blog-tilt #content article.post-entry .entry-meta .meta-category i, body.blog-tilt #content article.post-entry .entry-meta-footer .meta-category i {
        display: inline-block;
        margin-right: 5px; }
      body.blog-tilt #content article.post-entry .entry-meta .meta-category:after, body.blog-tilt #content article.post-entry .entry-meta-footer .meta-category:after {
        display: none; }
    body.blog-tilt #content article.post-entry .entry-meta .meta-comments, body.blog-tilt #content article.post-entry .entry-meta-footer .meta-comments {
      padding-left: 10px; }
      body.blog-tilt #content article.post-entry .entry-meta .meta-comments i, body.blog-tilt #content article.post-entry .entry-meta-footer .meta-comments i {
        display: inline-block;
        margin-right: 5px; }

/* Comment list */
body.blog-tiled #comments {
  margin-left: -200px; }
  body.blog-tiled #comments .comment-body {
    padding-left: 0;
    padding-right: 0; }

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
