/******************************************************************
Theme Name: Tilt
Theme URI: http://themes.whiteboxstud.io/tilt/
Description: Tilt is a modern multipurpose WordPress theme. Tilt is available exclusively on Theme Forest.
Author: Whitebox Studio
Author URI: https://themeforest.net/user/whitebox-studio
Version: 1.7.5.5
License: Envato Marketplaces Split Licence
License URI: Envato Marketplace Item License Certificate
Text Domain: tilt
Domain Path: /languages/



/*-----------------------------------------------------------------

	01.	NORMALIZE STYLESHEET
	02.	BASE TYPOGRAPHY
	03.	BASIC STYLES
	04.	NONSEMANTIC BASE STYLES
	05.	STRUCTURE
	06.	HEADER
	07.	MENU
	08.	CONTENT
	09.	IMAGES
	10.	COMMENTS
	11.	FOOTER
	12.	WIDGETS
	13.	PORTFOLIO
	14.	PLUGINS
	15.	RETINA
	16.	RESPONSIVE STYLES

-----------------------------------------------------------------*/



// normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

// Sass variables
@import "partials/variables";

// typography
@import "partials/typography";

// Sass functions
//@import "partials/functions";

// import mixins
@import "partials/mixins";

// the grid
//@import "partials/grid";

// alert boxes
//@import "modules/alerts";

// buttons
//@import "modules/buttons";

// forms (inputs & labels)
@import "modules/forms";


// styles in base.scss
@import "breakpoints/base";

@media only screen and (min-width: 481px) {

	// styles in 481up.scss
//	@import "breakpoints/481up";

} // end of media query

@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	@import "breakpoints/768up";

} // end of media query

@media only screen and (min-width: 980px) {

	// styles in 1030up.scss
	@import "breakpoints/_980up";

} // end of media query

@media only screen and (min-width: 1260px) {

	// styles in 1240up.scss
	@import "breakpoints/_1260up";

} // end of media query

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
//	@import "breakpoints/2x";

} // end of media query

@media print {

	// styles in print.scss
	@import "partials/print";

}
